/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
$body-font: 'Urbanist', sans-serif;
$heading: 'Urbanist', sans-serif;

/*=========
Color Code
===========*/
$bage-bg: #f9f9f9;
$body-color: #2f3146;
$base-color: #6b59d3;
$color-primary: #000;
$color-secondary: #fff;
$color-white: #fff;
$color-blackis: #1a1a1a;
$btn-circle-decor-dimensions: 50px;
